{%extends "base/base.html"%}
{%block title%}Sobre Mi{%endblock%}
{%block head%}
{%endblock%}
{%block columna8%}

<br>
  <div class ="sobremi">
    <div class="container marketing">

        <!-- CONTENIDO DEL CAROUSEL -->
        <div class="row">
          <h3>Sitio Web desarrollado con Python 3, adicionalmenrte tecnologias HTML/CSS y Javascript </h3>
          <div class="col-lg-4">
            <img a class="bd-placeholder-img rounded-circle" width="140" height="140" src="/static/images/htcdjs.png" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
         </svg>
            <h2 class="fw-normal">Html/CSS</h2>
            <p>HTML/CSS y Bootstrap para el diseño de las vistas.</p>
            <p hidden ><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
          </div>
          <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/static/images/pythonlogo.png" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></img>
            <h2 class="fw-normal">Python</h2>
            <p>Mediante el framework Flask, usamos redirecionamos las url mediante el controlador y para el envio de emails en la seccion de contacto.</p>
            <p hidden><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">
            <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="/static/images/jslogo.png" role="img" aria-label="Placeholder" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-color)"/></img>
            <h2 class="fw-normal">Javascript</h2>
            <p>Se usa Javascript para animacion de texto.</p>
            <p hidden><a class="btn btn-secondary" href="#">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
   
      </div><!-- /.container -->

    </div>


{%endblock%}
    {%block columna4%}
    <p>Columna4</p>
    {%endblock%}

